<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Travel Offers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../styleshit/style.css" />
</head>

   <body>
    <script src="../js/script.js"></script>
    <button type="button" class="btn btn-outline-dark">Home</button>
    <button type="button" class="btn btn-outline-primary" onclick="Alert()">Register</button>
    <button type="button" class="btn btn-outline-success" onclick="Alert()">Connect</button>
    <h1 style="color:lightcyan;text-shadow:2px 2px 4px orange; font-size:500%; text-align:center">Discover Tunisia</h1>
    <div class="cloud"></div>
    <div class="card-container">
        <div class="card">
            <img src="../assets/Images/Eljem.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="color:red">El Jem</h4>
                <p class="card-text">Discover the Historical Beauty of the Country with Our Trip to the Coliseum</p>
                <h5 style="color:lightskyblue">100 TND</h5>
                <button type="button" class="btn btn-outline-warning" onclick="Alert()">Register Now</button>
            </div>
        </div>
        <div class="card">
            <img src="../assets/Images/Dougga.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="color:red">Dougga</h4>
                <p class="card-text">Discover the Historical Beauty of the Country with Our Trip to the Capitole</p>
                <h5 style="color:lightskyblue">350 TND</h5>
                <button type="button" class="btn btn-outline-warning" onclick="Alert()">Register Now</button>
            </div>
        </div>
        <div class="card">
            <img src="../assets/Images/zaghouan.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="color:red">Zaghouan</h4>
                <p class="card-text">Discover the Historical Beauty of the Country with Our Trip to the Temple</p>
                <h5 style="color:lightskyblue">200 TND</h5>
                <button type="button" class="btn btn-outline-warning" onclick="Alert()">Register Now</button>
            </div>
        </div>
        <div class="card">
            <img src="../assets/Images/jugurtha.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="color:red">El Kef</h4>
                <p class="card-text">Discover the Natural Beauty of the Country with Our Trip to El Kef</p>
                <h5 style="color:lightskyblue">400 TND</h5>
                <button type="button" class="btn btn-outline-warning" onclick="Alert()">Register Now</button>
            </div>
        </div>
        <div class="card">
            <img src="../assets/Images/matmata.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title" style="color:red">Matmata</h4>
                <p class="card-text">Discover the Historical Civilisation of the Country with Our Trip to Matmata</p>
                <h5 style="color:lightskyblue">700 TND</h5>
                <button type="button" class="btn btn-outline-warning" onclick="Alert()">Register Now</button>
            </div>

        </div>
    </div>


   </body>
</html>